* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .App {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .App-header {
    width: 100%;
    padding: 10px;
    background-color: #E8E8E8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Todo-button {
    background: white;
    padding: 10px;
    border: none;
  }
  
  .Novo-item {
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;  
    width: 500px;
  }
  
  .Item-lista {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;  
    background: white;
  }
  
  .Item{
    border: none;
    outline: none;
    font-size: 18px;
    background: #1e90ff;
  }
  
  h1{
    color: #c5c0c0;
  }
  input[type=text] {
    width: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 2px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  .signupbtn {
    float: left;
    width: 150px;
  }
  
  .container {
    padding: 16px;
      width: 500px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
    